name: mini_ui_app
description: "A new Flutter project."
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.8.1

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  intl: ^0.20.2
  cupertino_icons: ^1.0.8
  google_fonts: ^6.3.2
  flutter_gen: ^5.12.0
  flutter_i18n: ^0.36.3
  flutter_spinkit: ^5.2.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  generate: true

  assets:
    - assets/images/

  fonts:
    - family: IranYekan
      fonts:
        - asset: assets/fonts/iranyekanregular.ttf
        - asset: assets/fonts/iranyekanbold.ttf
          weight: 700
